
@{
    ViewData["Title"] = "ویرایش کاربر";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb breadcrumb-style" style="float : right;">
            <li class="breadcrumb-item">
                <h4 class="page-title">@ViewData["Title"]</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
                <a asp-area="Administration" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>داشبورد
                </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
                <a href="#" onclick="return false;">مدیریت کاربران</a>
            </li>
            <li class="breadcrumb-item active">ویرایش کاربر</li>
        </ul>
    </div>
</div>

<div class="card p-5">
    <h2 class="card-inside-title" style="font-size : 22px; margin-top : 15px; margin-bottom:25px;">فرم ویرایش کاربر</h2>
    <form asp-area="Administration" asp-controller="User" asp-action="EditUser">
        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="نام و نام خانوادگی">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="شماره همراه">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="ایمیل">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <input type="password" class="form-control" placeholder="رمز عبور">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <input type="password" class="form-control" placeholder="تکرار رمز عبور">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <p>
                            <label>
                                <input type="checkbox" checked="checked">
                                <span>بلاک شده / نشده؟</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-line">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>آپلود تصویر آواتار</span>
                                <input type="file" multiple="">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="یک فایل را آپلود کنید">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning btn-block" type="submit">ثبت اطلاعات</button>
        </div>
    </form>
</div>
